.devcontainer/* @kienleholdings/technologies
.github/* @kienleholdings/technologies

apps/* @kienleholdings/technologies
packages/* @kienleholdings/technologies

.gitignore @kienleholdings/technologies
turbo.json @kienleholdings/technologies
